body {
    font-family: 'Roboto', sans-serif;
}

.app-bar {
    box-sizing: border-box;
    background-color: #009688;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.app-bar h1 {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}